

.product-tile {
    
    @include media-breakpoint-down(md) {
        min-height: 22.4375em;
        padding-left: 0.4em;
        padding-right: 0.4em;
    }

    @include media-breakpoint-down(sm) {
        min-height: 18.6875em;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    @include media-breakpoint-down(xs) {
        min-height: 12.4375em;
        padding-left: 0.25em;
        padding-right: 0.25em;
        margin-bottom: 0.1em;
        .tile-body {
            .row.tile-body-footer{
                margin-bottom: 30px;
            }
        }
    }

    border: 0;
    margin-bottom: 2em;
    padding: 0.4em;

    .tile-body {
        padding: 0.625em 0 1em 0.625em;
        font-size: .925rem;
        
        .color-swatches {
            min-height: 0;

            .product-tile-color-label {
                cursor: pointer;
                font-size: 1em;

                @include media-breakpoint-down(md) {
                    font-size: 0.9375em;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 0.8125em;
                }
            }
        }

        .price {
            font-size: 1.125em;
            margin-bottom: 0.5em;

            .list{
                display: inline-block;
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                color: $grey6;
                font-size: .825em;
                font-weight: 600;

                @include media-breakpoint-down(md){
                    padding-top: 0.075em;
                    padding-bottom: 0.075em;
                }

                @include media-breakpoint-down(sm){
                    padding-top: 0.05em;
                    padding-bottom: 0.05em;
                }
            }

            @include media-breakpoint-down(md) {
                font-size: 1.0625em;
            }

            @include media-breakpoint-down(sm) {
                font-size: 1em;
            }
            .sales {
                color: $cdw-red;
                font-weight: 600;
            }
            .tiered {
                font-size: 0.875em;

                .value {
                    font-weight: 500;
                }
            }
        }

        .coming-soon-tile {
            text-align: center;
        }

        .pdp-link {
            line-height: 1.4;

            a {
                font-size: 1em;
                text-decoration: none;
                font-weight: 700;
                &:hover {
                    text-decoration: underline;
                }
                @include media-breakpoint-down(md) {
                    font-size: 0.9375em;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 0.8125em;
                }
            }
        }

        .ratings {
            font-size: 0.825em;
            white-space: nowrap;
            color: $yellow;
            padding-left: 0;
            padding-bottom: 0.5em;
        }

        .availability-styling, .promotion-styling{
            padding-left: 0;
        }
        .availability-msg{
            padding-top: 0.5em;
            margin-bottom: 0;
            font: 600 1em/1.3em var(--font-family-sans-serif);
            .call-for-price-plp {
                color: #999;
                text-align: center;
            }
            &-content{
                display: inline-block;
                padding-left: 0.25em;
                font-size: .875em;
                color: $grey7;
            }
        }
        .promotion-styling{
            padding-bottom: 0.4em;
            .promotion-icon{
                color: #006400;
                padding-right: 0.15em;
            }
        }
    }

    .image-container {
        position: relative;
        overflow: auto;
        min-height: 200px;
        max-height: 200px;
        transition: .3s;
        display: flex;
        img {
            object-fit: contain;
            mix-blend-mode: darken;
            width: 100%;
            height: 100%;
            margin: auto;
            display: block;
        }
        .quickview {
            position: absolute;
            bottom: 1rem;
            right: 1rem;

            i {
                &.fa-expand {
                    color: rgba(0, 0, 0, 0.7);
                }

                &.fa-circle {
                    color: rgba(255, 255, 255, 0.7);
                    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                }
            }
        }

        a {
            display: block;

            .tile-image {
                width: 100%;
                // max-height: 13em;
            }
        }
    }

    .swatches {
        a {
            text-decoration: none;
        }
    }

    .swatch-circle {
        // $white will be replaced by color image background via Javascript
        @include swatch(1.8em, $white);
    }
}

.einstein-carousel {
    padding: 0 20px;
}

.don-t-forget .product-tile {
    @include media-breakpoint-down(md) {
        min-height: 14em;
    }

    @include media-breakpoint-down(sm) {
        min-height: 14em;
    }
}

.cdw-carousel-item {
    .product {
        @include media-breakpoint-down(sm) {
            margin-bottom: 0 !important;
        }
    }
}

// for box shadow and hover effect for laptop screen only
@media screen and (min-width:991.98px){
    .product-grid .product:hover{
        transition: all 0.25s;
        box-shadow: 0 0 5px #888888;
    }
}

// Box-shadow for tablets only
@media screen and (min-width:550px) and (max-width:768.98px){
   .product-grid .product{
        box-shadow: 0 0 2px #888888;
    }
}

// removing extra padding in small screen size devices
@include media-breakpoint-down(sm){
    .product-tile{
        .tile-body{
            padding: .625em 0 0.25em 0.15em;
        }
    }

}

.product-grid {
    .product {
        width: 100%;
        border: 1px solid $grey2;
    }
}



#chooseBonusProductModal {
    .modal-footer {
        .container {
            margin-left: 0;
            width: 100%;
            margin-right: 0;
        }
    }

    .select-cbp-container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .product-name-wrapper {
        width: 100%;
    }

    .bonus-quantity,
    .bonus-option {
        margin-top: 0.938em;
    }

    .bonus-quantity-select {
        min-width: 5em;
    }

    .select-bonus-product {
        margin-top: 1em;
    }

    .selected-pid {
        border: 1px solid $grey3;

        .bonus-product-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .bonus-product-price {
        text-align: center;
        margin-top: 1em;
    }
}
.recommendations {
    .title {
        font-size: 1.5em;
        font-weight: 600;
        padding-bottom: .25em;
        padding-left: 1.25rem;
        border-bottom: 1px solid $grey3;
        font-family: var(--skin-header-font);
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 0.25rem;
    }
    .product-tile {
        font-size: .775em;
        text-align: center;
        .image-container {
            max-height: 150px;
            min-height: 150px;
            padding: 0 .5em .5em;
        }
        .pdp-link {
            padding: 0 10px .5em;
        }
        .price {
            line-height: 1.25em;
            margin-bottom: 0.9rem;
            .list {
                padding: 0;
                color: $grey6;
                font-weight: 600;
                font-size: .825rem;
            }
            .list.was {
                text-decoration: line-through;
            }
            .sales {
                font-size: 1.1rem;
            }
        }
        .cart-and-ipay {
            width: calc(100% - 20px);
            position: absolute;
            bottom: 0;
            justify-content: center;
            left: 50%;
            transform: translateX(-50%);
            .add-to-cart {
                @extend .btn-primary-reverse;
                font-size: .875em;

                @media screen and (max-width: 1024px) {
                    padding-left: 0.26rem;
                    padding-right: 0.24rem;
                    font-size: 0.775rem;
                }
                @media screen and (max-width: 768px) {
                    padding-left: 0.1rem;
                    padding-right: 0.1rem;
                    font-size: .675rem;
                }
                @media screen and (max-width: 645px) {
                    font-size: 0.575rem;
                }
                @media screen and (max-width: 601px) {
                    padding-left: 0.26rem;
                    padding-right: 0.24rem;
                    font-size: 0.875em;
                }
            }
        }
        .fs-promo {
            .disclaimer {
                display: none;
            }
        }
    }
}
div[id*=cq_recomm_slot] {
    width: 100%;
}
.was {
    text-decoration: line-through;
}

div.availability, .availability-styling {
    margin-top: .25em;
    .oos {
        font-weight: 600;
    }
    .in-stock {
        color: $green;
    }
    .preorder-oos {
        color: $green;
    }
    i:before {
        padding-right: .25em;
    } 
}
.fs-promo {
    color: $cdw-blue;
    i:before {
        padding-right: .25em;
    } 
}

.product-detail {
    .product-tile {
        .tile-body {
            padding: 0 0 0 .625em;
            .pdp-link {
                padding-bottom: .25em;
                max-height: 3em;
                overflow: hidden;
                a.link {
                    font-size: .875em;
                }
            }
        }
    }
}

div.call-for-price-plp {
    /* font-size: 0.88em !important; */
    padding-right: 0px;
    font: 600 0.9em/1em "myriad-pro-n6", "myriad-pro", 'Helvetica Neue', 'Arial', sans-serif;
    color: #666;
    padding-left: -2px;
    margin-top:  10px;
    align-content: center;
    margin-bottom: 10px;

    div {
        padding-bottom: 10px;
    }
}