@import "~base/variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/components/formFields";
@import "components/toastMessage";
@import 'modules/login';

.login-page {
    margin-top: 1em;

    .login-form-nav {
        margin-bottom: 1.25em;

        .tab-pane {
            margin-top: 1em;
        }
    }

    .login {
        margin-bottom: 0.938em;

        .error-message-form {
            padding: 0.625em;
            background-color: $danger;
            color: $state-danger-text;
            border-radius: 0.188em;
        }
    }
}

.registration-page {
    .privacy-policy {
        margin-top: 1rem;
    }
}

.login-banner {
    background-image: url('../images/account.jpg');
    background-position-y: 40%;
}

.equal-height .card {
    width: 100%;
}

.add-to-cart-wishList {
    .add-to-cart {
        width: 100%;
        font-size: 1.250rem;
        font-weight: 700;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-family: myriad-pro-condensed, sans-serif;
        &:after {
            content: '\f101';
            font-size: 1em;
            line-height: 1.2rem;
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            margin-left: 3px;
            position: relative;
            top: 1px;
        }
    }
}

.add-to-cart-messages {
    @include toast-message();
}